@import url('https://fonts.googleapis.com/css?family=Srisakdi');
body {
    text-align: center;
    font-size: 18px;
      background-color: hsl(257, 60%, 50%);
}
#field{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  width: 600px;
  border: 2px solid black;
  height: 450px;
  display: grid;
  grid-gap: 3px;
  grid-template-columns:260px 233px 10px;
  background-color: hsl(150, 60%, 55%);
  box-shadow: 0 0 220px;
  border-radius: 5px;
}

.group{
 cursor: pointer;
}
.selected{
  border: 2px solid black;
}
#subBut{
  margin: 12px 22%;
  border: hsl(100, 100%, 30%);
  border-radius: 7px;
  width: 240px;
  height: 30px;
  box-shadow: 0 0 30px hsl(0, 50%, 70%);
  font-size: 24px;
  font-family: 'Srisakdi', cursive;
  color: hsl(10, 100%, 100%);
  transition: 2s;
  animation-name: background-color;
  animation-duration: 4s;
  animation-iteration-count: infinite;
}
#subBut:hover{
  transition: 1s;
   color: rgb(100,250,200);
}
 @keyframes background-color{
  0%{
    background-color: hsl(300, 50%, 40%);
  }
  50%{
   background-color: hsl(300, 70%, 45%)
  }
  100%{
   background-color: hsl(300, 50%, 40%);
  }
} 
